--index-url https://pypi.python.org/simple/

-e git+git://github.com/aristotle-mdr/comet-indicator-registry@master#egg=django-aristotle-comet-indicator-registry
-e git+git://github.com/LogicalOutcomes/mallard-questionnaire-registry#egg=django-aristotle-mallard-questionnaire

aristotle-metadata-registry
openpyxl
celery
django_celery_results
requests
coveralls
whoosh
django_tools
mock
django-markdown-deux
django-pagedown
django-import-export
unicodecsv
