{% extends "aristotle_mdr/base.html" %}
{% load aristotle_tags util_tags logicaltags markdown_deux_tags %}

{% block extra_head_scripts %}
<style>
    table.table .select2-container {
        min-width:100%;
    }

    /* Indidicator compare table styles for */
    .indicator-comparer-table th {
      max-width: 90px;
      white-space: normal !important;
    }
    .indicator-comparer-table td p {
      max-width: 92%;
    }

    @media (min-width: 992px) {
      .indicator-comparer-table th {
        max-width: none;
      }
    }
    .indicator-comparer-table td, .indicator-comparer-table .select2 {
      max-width: 100px;
      white-space: normal !important;
      word-wrap: break-word;
    }
    @media (min-width: 768px) {
      .indicator-comparer-table td, .indicator-comparer-table .select2 {
        max-width: 100px;
      }
      .indicator-comparer-table td p {
        max-width: 85%;
      }
    }
    @media (min-width: 992px) {
      .indicator-comparer-table td, .indicator-comparer-table .select2 {
        max-width: 150px;
      }
    }
    @media (min-width: 1200px) {
      .indicator-comparer-table td, .indicator-comparer-table .select2 {
        max-width: 200px;
      }
    }

</style>
{% endblock %}

{% block content %}
<h2>{% block title %}Compare Indicators{% endblock %}</h2>
<p>
    Use the drop-down box below to search for or browse and select up to three indicators to compare. You can also compare indicators by selecting up to three on the "Browse indicators" page. A comparison is a good way to understand the pros and cons of similar-looking measures.
</p>
<form>
    <input class="btn btn-default" type="submit" value="Compare selected indicators"></input>
    <div class="table-responsive">
        <table class="table indicator-comparer-table">
            <thead>
            <tr>
                <th></th>
                <td>{{form.indicator_1}}</td>
                <td>{{form.indicator_2}}</td>
                <td>{{form.indicator_3}}</td>
            </tr>
            <tr>
                <th style="width:100px">Indicator Name</th>
                {% for item in indicators %}
                    <td>{% include "aristotle_mdr/helpers/itemLink.html" %}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Definition</th>
                {% for item in indicators %}
                <td>
                    {{ item.definition|safe }}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Numerators</th>
                {% for indicator in indicators %}
                    <td>
                        <ul>
                        {% for item in indicator.numerators.all %}
                            <li>
                            {% include "aristotle_mdr/helpers/itemLink.html" %}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Numerator description</th>
                {% for item in indicators %}
                <td>
                    {{ item.numerator_description|safe }}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Rationale</th>
                {% for item in indicators %}
                <td>
                    {{ item.rationale|safe }}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>References</th>
                {% for item in indicators %}
                <td>
                    {{item.references|safe}}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Terms of Use</th>
                {% for item in indicators %}
                <td>
                    {% for s in item|get_single_slot:"Terms of use" %}
                        <p>{{s.value|safe }}</p>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Logic model </th>
                {% for item in indicators %}
                <td>
                    {% for s in item|get_single_slot:"Inputs and outputs" %}
                        <p>{{s.value|markdown }}</p>
                    {% endfor %}
                    {% for s in item|get_single_slot:"Outcomes" %}
                        <p>{{s.value|markdown }}</p>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>

            </tbody>
        </table>
    </div>
</form>
{% endblock %}
