{% extends "aristotle_mdr/user/userHome.html" %}
{% load bootstrap3 i18n %}

{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with activeTab='import_indicators' %}
{% endblock %}

{% block page %}

    <h1 class="text-center">
        {% trans "Import / Export Dashboard" %}
    </h1>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
              <h1 class="text-center">
                <a href="{% url 'indicators_export_data_elements' %}">
                    <i class="fa fa-fw fa-download fa-lg"></i>
                </a>
              </h1>
              <div class="caption text-center">
                <h3>{% trans "Export Data Elements as CSV" %}</h3>
                <p>
                    <a href="{% url 'indicators_export_data_elements' %}" class="btn btn-primary btn-multiline">
                        <i class="fa fa-fw fa-download"></i> {% trans 'export' %}
                    </a>
                </p>

              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
              <h1 class="text-center">
                <a href="{% url 'indicators_export_value_domains' %}">
                    <i class="fa fa-fw fa-download fa-lg"></i>
                </a>
              </h1>
              <div class="caption text-center">
                <h3>{% trans "Export Value Domains as CSV" %}</h3>
                <p>
                    <a href="{% url 'indicators_export_value_domains' %}" class="btn btn-primary btn-multiline">
                        <i class="fa fa-fw fa-download"></i> {% trans 'export' %}
                    </a>
                </p>

              </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">

            <div class="thumbnail">
              <h1 class="text-center">
                <a href="{% url 'indicators_import_form' %}">
                    <i class="fa fa-fw fa-upload fa-lg"></i>
                </a>
              </h1>
              <div class="caption text-center">
                <h3>{% trans "Upload spreadsheet" %}</h3>
                <p>
                    <a href="{% url 'indicators_import_form' %}" class="btn btn-primary btn-multiline">
                        <i class="fa fa-fw fa-upload"></i> {% trans 'Upload interface' %}
                    </a>
                </p>

              </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="thumbnail">
              <h1 class="text-center">
                <a href="{% url 'indicators_clean_db_form' %}">
                    <i class="fa fa-fw fa-eraser fa-lg"></i>
                </a>
              </h1>
              <div class="caption text-center">
                <h3>{% trans "Clean Collection" %}</h3>
                <p>
                    <a href="{% url 'indicators_clean_collection_form' %}" class="btn btn-primary btn-multiline">
                        <i class="fa fa-fw fa-eraser"></i> {% trans 'Clean Collection interface' %}
                    </a>
                </p>

              </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="thumbnail">
              <h1 class="text-center">
                <a href="{% url 'indicators_clean_db_form' %}">
                    <i class="fa fa-fw fa-eraser fa-lg"></i>
                </a>
              </h1>
              <div class="caption text-center">
                <h3>{% trans "Clean Data Base" %}</h3>
                <p>
                    <a href="{% url 'indicators_clean_db_form' %}" class="btn btn-danger btn-multiline">
                        <i class="fa fa-fw fa-eraser"></i> {% trans 'Clean DB interface' %}
                    </a>
                </p>

              </div>
            </div>

    </div>



    </div>
{% endblock %}
