{% comment %}
Usage:
    {% include 'aristotle_mdr_browse/comet/_slot_filter.html' with name='Slot name' param_name='sln' slots=slots selected_slots=sln hide_title=False extra_classes='checkbox-inner' %}
{% endcomment %}
{% load i18n %}

{% if not hide_title %}
    <b class="indicator-filters_title">{% trans name %}</b>
{% endif %}

{% for value in slots|slice:':4' %}
    <div class="checkbox {{extra_classes|default:''}}">
        <label>
            <input type="checkbox" name="{{param_name}}" value="{{value.value}}" {% if value.value in selected_slots %}checked{% endif %}>
            {{value.value}} <span class="text-muted">({{value.count}})</span>
        </label>
    </div>
{% endfor %}

{% if slots.count > 4 %} 
    <p>
        <a class="indicator-filters_more-link" role="button" data-toggle="collapse" href="#{{param_name}}" aria-expanded="false" aria-controls="terms">
            {% trans 'more' %} <span class="caret"></span>
        </a>
    </p>

    <div class="collapse" id="{{param_name}}">
        {% for value in statuses|slice:'4:' %}
            <div class="checkbox {{extra_classes|default:''}}">
                <label>
                    <input type="checkbox" name="{{param_name}}" value="{{value.value}}" {% if value.value in selected_slots %}checked{% endif %}>
                    {{value.value}} <span class="text-muted">({{value.count}})</span>
                </label>
            </div>
        {% endfor %}
    </div>
{% endif %}