{% extends "aristotle_mdr_browse/base.html" %}
{% load i18n aristotle_tags aristotle_help logicaltags %}

{% block title%}Browse {{ model.get_verbose_name_plural }}{% endblock %}

{% block breadcumbs %}
    <li><a href="/">Home</a></li>
    <li class="active">Browse {{ model.get_verbose_name_plural }}</li>
{% endblock %}

{% block object_list %}

<div class="row">
    <div class="col-sm-3 ">
        {% include "aristotle_mdr_browse/comet/indicator_filters.html" %}
    </div>
    <div class="col-sm-9">
        <h1 class="text-center">{% trans "Find Indicators" %}</h1>
        <p>
{% blocktrans %}
        This registry contains indicators for OCASI’s Service Information System. It focuses on immigrant and refugee services.
        You can: <br>
        ✓ Filter <br>
        ✓ Compare and/or <br>
        ✓ Download these indicators <br>
        If you want to see a wider range of indicators, see <a href="http://www.indicatorregistry.net">www.indicatorregistry.net</a>
{% endblocktrans %}
        </p>

        <div id="indicators-list-table">
            {% include "indicators/browse/indicators.html" with page=page_obj allow_select_all=False %}
        </div>
    </div>
</div>
{% endblock %}
