{% load i18n aristotle_tags aristotle_help logicaltags %}

<div class="indicator-filters">
    <h3 class="text-muted">{% trans "Refine by" %}</h3>

    <form id="indicator-filter-form" action="." method="get">

        <b class="indicator-filters_title">{% trans "Collections" %}</b>

        {% for collection in collections %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="collections" value="{{collection.value}}" {% if collection.value in selected_collections %}checked{% endif %}>
                    {{collection.value}} <span class="text-muted">({{collection.count}})</span>
                </label>
            </div>
        {% endfor %}

        <b class="indicator-filters_title">{% trans "Sustainable development goals" %}</b>

        {% for sdg in sdgs %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="sdgs" value="{{sdg.short_name}}" {% if sdg.short_name in selected_sdgs %}checked{% endif %}>
                    {{sdg.short_name}} <span class="text-muted">({{sdg.count}})</span>
                </label>
            </div>

            {% if sdg.short_name == 'No poverty' %}
                {% for tag in no_poverty %}
                <div class="checkbox checkbox-inner">
                    <label>
                        <input type="checkbox" name="no_poverty" value="{{tag.value}}" {% if tag.value in selected_no_poverty %}checked{% endif %}>
                        {{tag.value}} <span class="text-muted">({{tag.count}})</span>
                    </label>
                </div>
                {% endfor %}
            {% endif %}

        {% endfor %}

        <b class="indicator-filters_title">{% trans "Theory of change" %}</b>

        {% for toc in theory_of_change %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="toc" value="{{toc.value}}" {% if toc.value in selected_theory_of_change %}checked{% endif %}>
                    {{toc.value}} <span class="text-muted">({{toc.count}})</span>
                </label>
            </div>
        {% endfor %}

        {% include 'aristotle_mdr_browse/comet/_slot_filter.html' with name='Data collection method' param_name='dcm' slot_values=data_collection_method %}
    </form>
</div>

<script>
$(function(){
    // Filters
    var xhr,
        lastURL = '',
        overlay='<div class="loading-overlay"><h3 class="text-center"><i class="fa fa-spinner fa-spin fa-fw"></i> Loading</h3></div>';

    function updateFilters(e) {
        var params = $('#indicator-filter-form').serialize(),
            url = '.?'+params;

        if (lastURL !== url) {
            // prevent multiple calls
            if(xhr && xhr.readyState != 4){
                xhr.abort();
            }
            xhr = $.get(url, function(data) {
                var $data = $(data);
                $("#indicators-list-table").replaceWith($data.find("#indicators-list-table"));
            });
            $('#loading_indicator').remove();
            $('#indicators-list-table').html(overlay);
            // Update URL
            window.history.pushState('Browse indicators', 'Browse Indicators', url);
            lastURL = url;
        }
    };
    $('#indicator-filter-form input').on('change', updateFilters);

    window.onpopstate = function(event) {
        location.href = location.pathname + location.search
    };
});
</script>
