{% extends "aristotle_mdr_browse/base.html" %}
{% load i18n aristotle_tags aristotle_help logicaltags %}

{% block title%}Browse {{ model.get_verbose_name_plural }}{% endblock %}

{% block breadcumbs %}
    <li><a href="/">Home</a></li>
    <li class="active">Browse {{ model.get_verbose_name_plural }}</li>
{% endblock %}

{% block object_list %}

<div class="row">
    <div class="col-sm-3 ">
        {% include "aristotle_mdr_browse/comet/indicator_filters.html" %}
    </div>
    <div class="col-sm-9">
        <h1 class="text-center">Find the Financial Indicators</h1>
        <p>
        This registry contains indicators sponsored by Prosper Canada.
        According your needs you can:
        </p>
        <p>
        ✓ Filter <br>
        ✓ Compare and/or <br>
        ✓ Download these indicators <br><br>
        </p>

        <div id="indicators-list-table">
            {% include "indicators/browse/indicators.html" with page=page_obj allow_select_all=False %}
        </div>
    </div>
</div>
{% endblock %}
