{% extends "aristotle_mdr_browse/base.html" %}
{% load i18n aristotle_tags aristotle_help logicaltags %}

{% block title%}Browse {{ model.get_verbose_name_plural }}{% endblock %}

{% block breadcumbs %}
    <li><a href="/">Home</a></li>
    <li class="active">Browse {{ model.get_verbose_name_plural }}</li>
{% endblock %}

{% block object_list %}

<div class="row">
    <div class="col-sm-3 ">
        {% include "aristotle_mdr_browse/comet/indicator_filters.html" %}
    </div>
    <div class="col-sm-9">
        <h1 class="text-center">{% trans "Find Indicators" %}</h1>
        <p>
{% blocktrans %}
This registry contains indicators for a range of human services. We are adding new indicators monthly, and plan to include hundreds of indicators for public health and social services in 2018. For now, most of the indicators focus on services to immigrants and refugees in Canada, based on our partnership with the Ontario Council of Agencies Serving Immigrants. Browse the indicators below, or refine the results using the options in the left-hand bar.<br><br>
{% endblocktrans %}
        </p>

        <div id="indicators-list-table">
            {% include "indicators/browse/indicators.html" with page=page_obj allow_select_all=False %}
        </div>
    </div>
</div>
{% endblock %}
